<header class="header">
  <div class="logo">
    <a href="/">
      <h1>
        <span class="mono">技术</span>
        <span>王欢的个人博客</span>
      </h1>
    </a>
  </div>

  <div class="navbar">
    <ul class="nav">
      <li><a [routerLink]="['/blog']" routerLinkActive="router-link-active">首页</a></li>
      <li><a [routerLink]="['/articles']" routerLinkActive="router-link-active">博客列表</a></li>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">home</a></li>
      <li><a [routerLink]="['/resume']" routerLinkActive="router-link-active">个人简历</a></li>
      <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">留言板</a></li>
  </ul>
</div>
</header>
