<div>
    <label class="categorylabel">文章分类:</label>
    <nz-select nzPlaceHolder="Choose Category" nzAllowClear #selectlist>
        <nz-option nzValue={{item.id}} nzLabel={{item.title}} *ngFor="let item of articleWithPictureDtos"></nz-option>
    </nz-select>
</div>
<button (click)="searchComment()">search</button>
<nz-table #basicTable [nzData]="articleCommentDto">
    <thead>
      <tr>
        <th>name</th>
        <th>content</th>
        <th>ip</th>
        <th>email</th>
        <th>createBy</th>
        <th>operate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.content }}</td>
        <td>{{ data.ip }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.createBy }}</td>
        <td>
          <button nz-button nzType="primary">delete</button>
        </td>
      </tr>
    </tbody>
  </nz-table>