<nz-table #basicTable [nzData]="articleWithPictureDtos">
  <thead>
    <tr>
      <th>title</th>
      <th>top</th>
      <th>traffic</th>
      <th>summary</th>
      <th>删除</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      
      <td>{{ data.title }}</td>
      <td>{{ data.top }}</td>
      <td>{{ data.traffic }}</td>
      <td>{{ data.summary }}</td>
      <td><button nz-button nzType="primary" (click)="deleteArticle(data.id)">删除</button></td>
    </tr>
  </tbody>
</nz-table>
