<app-header></app-header>

<div class="about">
    <nz-comment>
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
        <nz-comment-content>
            <nz-form-item>
                <h2>发表我的评论：</h2>
            </nz-form-item>
            <nz-form-item>
            <textarea [(ngModel)]="inputValue" placeholder="写点什么..." nz-input rows="4"></textarea>
            </nz-form-item>
            <nz-form-item>
                <input type="text" [(ngModel)]="name" nz-input placeholder="Name" style="width: 400px;" />
            </nz-form-item>
            <nz-form-item>
                <input type="email" [(ngModel)]="email" nz-input placeholder="Email" style="width: 400px;" />
            </nz-form-item>
            <nz-form-item>
            <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
                Add Comment
            </button>
            </nz-form-item>
        </nz-comment-content>
    </nz-comment>

    <nz-list *ngIf="comments.length" [nzDataSource]="comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" style="border-top: 1px solid rgb(224, 218, 218);">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="user.author+' : '+item.name" [nzDatetime]="item.createBy">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
            <nz-comment-content>
              <p>{{ item.content }}</p>
            </nz-comment-content>
          </nz-comment>
        </ng-template>
      </nz-list>
</div>

<app-footer2></app-footer2>