<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">个人博客</div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="数据统计" nzIcon="user">
        <ul>
          <li nz-menu-item><a routerLink='./logs'>日志统计</a></li>
          <li nz-menu-item><a routerLink='./views'>浏览量统计</a></li>
          <li nz-menu-item><a routerLink='./comments'>留言统计</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="博文分类" nzIcon="team">
        <ul>
          <li nz-menu-item><a routerLink='./category'>博文分类</a></li>
          <li nz-menu-item><a routerLink='./addcategory'>新增分类</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="博文管理" nzIcon="user">
        <ul>
          <li nz-menu-item><a routerLink='./article'>博文列表</a></li>
          <li nz-menu-item><a routerLink='./addarticle'>新增博文</a></li>
        </ul>
      </li>
      <li nz-submenu nzTitle="评论管理" nzIcon="team">
        <ul>
          <li nz-menu-item><a routerLink="./comment"></a>评论</li>
          <li nz-menu-item><a routerLink='./addarticle'>date</a></li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="设置"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
