<nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfAllData"
      (nzCurrentPageDataChange)="currentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            nzShowCheckbox
            nzShowRowSelection
            [nzSelections]="listOfSelection"
            [(nzChecked)]="isAllDisplayDataChecked"
            [nzIndeterminate]="isIndeterminate"
            (nzCheckedChange)="checkAll($event)"
          ></th>
          <th>id</th>
          <th>ip</th>
          <th>createBy</th>
          <th>remark</th>
          <th>operateUrl</th>
          <th>operateBy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" (nzCheckedChange)="refreshStatus()"></td>
          <td>{{ data.id }}</td>
          <td>{{ data.ip }}</td>
          <td>{{ data.createBy }}</td>
          <td>{{ data.remark }}</td>
          <td>{{ data.operateUrl }}</td>
          <td>{{ data.operateBy }}</td>
        </tr>
      </tbody>
    </nz-table>
