#main{
  width: 80%;
  margin: auto;
  display: flex;
}
.left{
  width: 70%;
  margin-top: 6px;
}
.allArticle {
  float: right;
}
.excerpt {
  background-color: rgb(243, 240, 240);
  padding: 20px 15px 30px 20px;
  margin-bottom: 10px;
  position: relative;
  height: 250px;
}
.excerpt header {
  margin: 0 10px 15px 0;
}
.headerbox {
  color: #d9534f;
}
.excerpt header .label {
  margin-right: 5px;
  position: relative;
  top: -2px;
  padding: 2px 6px 4px;
}
.badge-important {
  background-color: #d9534f;
}
.label {
  top: 7px;
  right: -4px;
  border-left: 4px solid #000;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

i {
  font-style: italic;
}
a {
  color: #00a67c;
  text-decoration: none;
}

.excerpt .focus {
  float: left;
  margin: 0 20px 0 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: table;
}

.excerpt .note {
  color: #777;
  line-height: 24px;
  margin-bottom: 0;
  font-style: normal;
}
.excerpt p.auth-span {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
.article-header .cate, .article-header .muted, .excerpt .muted {
  margin-right: 20px;
}
.muted {
  color: #999;
}
.excerpt .muted {
  font-size: 13px;
}
.excerpt .muted .action, .hot-posts .muted .action {
  background-color: #fff!important;
  border: 0;
  padding: 0;
  color: #f78585!important;
  font-size: 13px;
}





.right{
  margin-left: 1%;
  width: 29%;
}
.rightdiv {
  width: 100%;
  background-color: rgb(243, 240, 240);
}

/*1*/
.row2 {
  display: flex;
  margin: auto;
}
.row2 img {
  padding-left: 20px;
}
.row3 {
  display: flex;
  margin: 30px 0 20px 30px;
}
.weixin {
  padding-left: 20px;
}
.row4 {
  display: flex;
  margin-top: 20px
}
.row44 {
  border: rgb(212, 210, 210) solid 1px;
  width: 50%; text-align: center;
  height: 35px;
}


/*2*/

.widget {
  clear: both;
  margin-bottom: 10px;
}
.zhuti {
  margin-left: 50px;
}
.title {
  position: relative;
  height: 45px;
  border-bottom: 1px solid #90bba8;
  margin: 5px 20px;
}
.d_postlist ul {
  padding: 0 20px 20px;
}

.like-li {
  height: 95px;
}
a {
  color: #00a67c;
  text-decoration: none;
}
.d_postlist li a {
  font-size: 14px;
}
.d_postlist .thumbnail {
  float: left;
}
.d_postlist .thumbnail img {
  width: 100px;
  height: 64px;
  margin: 0 auto;
}

.d_postlist .text {
  display: block;
  height: 50px;
}
.d_postlist .muted {
  padding-left: 10px;
}
.muted {
  color: #999;
}


/*3*/
.d_tags {
  padding: 12px 10px 15px 20px;
}

.d_tags a {
  width: 44%;
  opacity: .7;
  filter: alpha(opacity=80);
  color: #fff;
  background-color: #00a67c;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 2px 6px;
  line-height: 21px;
}
a {
  color: #00a67c;
  text-decoration: none;
}





/*4*/
.hot-posts h2 {
  line-height: 45px;
  font-weight: 400;
  color: #1abc9c;
  font-size: 16px;
}

.hot-posts ul {
  margin: 0 20px 10px;
  padding: 15px 0 10px;
  list-style: none;
  overflow: hidden;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style: none;
}
.hot-posts li {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
  height: 20px;
}
li {
  line-height: 20px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}


.hot-posts .label {
  margin-right: 8px;
  padding: 2px 7px;
  top: -1px;
}
.label-1 {
  background-color: #fd8c84;
}
