<app-header></app-header>
<div style="clear: both;"></div>
<!--中间的内容-->
<div id="content">
  <div id="category">
    <a href="?">全部</a>
    <template id="categoryInfo">
      <div class="categoryInfo">
        <a id="categoryName" href=""></a>
      </div>
    </template>
  </div>

  <div id="articleInfos">
    <template id="articleInfo">
      <div class="articleInfo" onclick="showArticle(this)">
        <div class="articlePicture">
          <img src="">
        </div>
        <div class="articleTitle">
          <h5 id="articleTitle"></h5>
        </div>
        <h6 style="display: none;"></h6>
      </div>
    </template>
  </div>
</div>
<app-footer2></app-footer2>
