<div>
    <nz-select nzPlaceHolder="Choose Category" nzAllowClear #selectlist>
        <nz-option nzValue={{item.id}} nzLabel={{item.name}} *ngFor="let item of categoryInfos"></nz-option>
    </nz-select>
</div>
<div>
    <input nz-input placeholder="modify category" [(ngModel)]="modifyvalue" class="categoryinput"/>
    <button nz-button nzType="primary" (click)="modifyCategory()">修改</button>
</div>

<div>
    <input nz-input placeholder="add category" [(ngModel)]="addvalue" class="categoryinput"/>
    <button nz-button nzType="primary" (click)="addCategory()">增加</button>
</div>